<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0, minimum-scale=1.0"
    />
    <meta name="description" content="A restaurant catalog page to check out various places to eat"/>
    <link rel="manifest" href="manifest.json"/>
    <meta name="theme-color" content="#ffab3e">
    <link rel="apple-touch-icon" href="/icons/Icon-192x192.png"/>
    <link rel="icon" href="./icons/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="./Icon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./Icon-16x16.png">
    <title>SupperTime</title>
  </head>
  <body>
    <a class="skip-link" href="#main-content">Skip to Content</a>
    <header>
      <a aria-label="Hamburger menu toggle" href="#" id="hamburger">
        <img src="./images/menu.svg" alt="Menu Icon" />
      </a>
      <nav class="drawer">
        <ul>
          <li><a tabindex="-1" href="/index.html">Home</a></li>
          <li><a tabindex="-1" href="#/favourites">Favourites</a></li>
          <li>
            <a
              tabindex="-1"
              href="https://twitter.com/GuruhEdiP"
              target="_blank"
              rel="noopenner noreferrer"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
      <div class="brand">
        <a href="/">
          <img src="./images/logo.svg" alt="SupperTime Logo" />
        </a>
        <span>SupperTime</span>
      </div>
      <nav class="navigation">
        <ul>
          <li><a href="/index.html">Home</a></li>
          <li><a href="#/favourites">Favourites</a></li>
          <li>
            <a
              href="https://twitter.com/GuruhEdiP"
              target="_blank"
              rel="noopenner noreferrer"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main id="main-content"></main>
    <footer>
      <div class="credits">
        <h2>Credits for resources used in this page</h2>
        <ul>
          <li>
            Icons made by
            <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
              >Freepik</a
            >
            from
            <a href="https://www.flaticon.com/" title="Flaticon">
              www.flaticon.com</a
            >
          </li>
          <li>
            Icons made by
            <a
              href="https://www.flaticon.com/free-icon/meal_3313631?term=dinner&page=2&position=29"
              title="bqlqn"
              >bqlqn</a
            >
            from
            <a href="https://www.flaticon.com/" title="Flaticon">
              www.flaticon.com</a
            >
          </li>
          <li>
            <span
              >Photo by
              <a
                href="https://unsplash.com/@morningbrew?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
                >Morning Brew</a
              >
              on
              <a
                href="https://unsplash.com/s/photos/menu?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
                >Unsplash</a
              ></span
            >
          </li>
          <li>
            <span
              >Photo by
              <a
                href="https://unsplash.com/@sunrisephotography?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
                >Sunrise Photos</a
              >
              on
              <a
                href="https://unsplash.com/s/photos/menu?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
                >Unsplash</a
              ></span
            >
          </li>
          <li>
            <span
              >Photo by
              <a
                href="https://unsplash.com/@hngstrm?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
                >Henry &amp; Co.</a
              >
              on
              <a
                href="https://unsplash.com/s/photos/table-reservation?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
                >Unsplash</a
              ></span
            >
          </li>
        </ul>
      </div>
      <div class="copyright">
        <span>Copyright &copy; 2020 - SupperTime</span>
      </div>
    </footer>
  </body>
</html>
